.bladeTaskCard{
    height: 20px;
    z-index: 1 ; /* stacks bladeTaskCards on top of the date tiles  */
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid rgba(0,0,0, 0.60); /*border in a darker tone of the project color */
}