.pendingTasksContainer{
    display: flex;
    height: 100px;
    width: 90%;
    background: blue;
    justify-content: left;
    grid-column: 1/-1;
    grid-row: 4;
    position: absolute;
    top: 450px;
    left: 5px

}