

.pendingTasksContainer{
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 100px;
    width: 1500px;
    grid-row: 4;   
    border: 2px solid rgba(0,0,0, 1);
    margin: 10px;
}

.whiteSpace{
    display: flex;
    width: 1500px;
    grid-row: 4; 
    margin: 10px;
    min-height: 105px;
}

.pendingTasksContainerInner{
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 10px;
    row-gap: 3px;
}

.projetLegend{
    grid-column: 1;
    border: 1px solid rgba(0,0,0, 1);
}

.pendingTasksColumn{
    display: flex;
    flex-direction: row;
    grid-column: 2;
    gap: 5px;
}