.equipment_list.bp {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1 / 3;
    overflow: auto;
}

.equipment_entry.bp {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.type.bp {
    vertical-align: middle;
    grid-column: 1 / 2;
    border-bottom: 2px solid;
}

.period.bp {
    position: relative;
    grid-column: 2 / 3;
    border-left: 2px solid;
    border-bottom: 2px solid;
}

.period_selector.bp {
    display: none;
    text-align: center;
    border: none;
}

.checkBox {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}

.remove_equipment_button.bp {
    position: absolute;
    transform: translate(139px, 3px);
    background-color: red;
    width: 50px;
    height: 24px;
    border-radius: 10px;
    display: inline;
    box-shadow: 0 3px #999;
}

.remove_equipment_button.bp:hover {
    background-color: rgb(191, 0, 0);
}

.remove_equipment_button.bp:active {
    background-color: red;
    box-shadow: 0 1px #666;
    transform: translate(139px, 3px);
}
