.tableButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.tableButtonsleft
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}