/* ResourceTable Component Styling */
.resource-table-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Heading styling */
.h2-style {
    text-align: left;
    color: #333;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Paragraph styling */
.p-style {
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Bold text in paragraphs */
.p-style b {
    font-weight: bold;
}

/* Flex container for tables */
.tables-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

/* Individual table styling */
.engineer-table,
.technician-table,
.equipment-table {
    flex: 1;
    min-width: 300px; /* Adjust based on your layout requirements */
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Responsive styling - adjust breakpoint as needed */
@media (max-width: 768px) {
    .tables-container {
        flex-direction: column;
    }
}
/* Input field styling */
.text-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.combobox .rw-widget-container {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
/* Heading styling */
.h1-style {
    text-align: left;
    margin-bottom: 15px;
    font-size: 25px;
}
.h2-style {
    text-align: left;
    color: #333;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Error, Loading, Success message styling */
.loading-message {
    color: rgb(76, 130, 175);
    margin-bottom: 10px;
    font-style: italic;
}
.error-message {
    color: red;
    margin-bottom: 10px;
    font-style: italic;
}
.success-message {
    color: green;
    margin-bottom: 10px;
    font-style: italic;
}

/* Submit button styling */
.submit-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    margin-right: 2px;
}
.submit-button:hover {
    background-color: #0f6313;
}
.delete-button {
    background-color: rgb(208, 47, 47);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.delete-button:hover {
    background-color: #771313;
}

/* Dropdown container styling */
.dropdown-container {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-width: 1px;
    border-color: gray;
}

.bold-text {
    font-weight: bold;
    color: #333;
}
.submit-text {
    font-weight: bold;
    color: #4caf50;

}