.btmenu-container{
    grid-template-rows: 100px 50px 250px 300px 400px;
    grid-template-columns: repeat(5, 1fr);
    width: 700px;
    height: auto;
    border-style: solid;
    border-radius: 15px;
    padding: 12px;
    display: grid;
    background-color: lightcyan;
}

.name_and_project_selection_wrapper{
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px;
}

.id_select{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border-style: solid;
    border-color: black;
    border-radius: 15px 15px 0% 0%;
    text-align: center;
    font-size: 20px;
}

.project_selection_wrapper{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 130px 540px;
    grid-template-rows: 60px;
}



.testtype_wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row: 2 / 3;
    grid-column: 1 / 6;
    margin-top: 10px;
    border-top: 1px solid;
}

.date_selection_wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row: 3 / 4;
    grid-column: 1 / 6;
    margin-top: 10px;
    border-top: 1px solid;
}


/* EQUIPMENT SECTION OF BT-MENU */
.equipment_wrapper{
    position: relative;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 30px 50px auto 1fr;
    grid-row: 4 / 5;
    grid-column: 1 / 6;
    border-top: 1px solid;
}

.title.equipment{
    font-size: 20px;
    text-align: left;
    margin: 0px 0px 60px 0px;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.title.equipment_type{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border-top: 2px solid;
    border-left: 2px solid;
    border-bottom: 2px solid;
}

.title.equipment_amount{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    border-style: solid;
    border-width: 2px;
}

.equipment_interaction{
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    text-align: center;
}

.equipment_add{
    border: solid;
    width: 75px;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    background-color: limegreen;
}

.equipment_add:hover{
    background-color: rgb(30, 117, 30);
}

.equipment_add:active{
  background-color: rgb(30, 117, 30);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.title{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.error{
    border-style: solid;
    border-color: red;
}

