.equipment_list{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

.equipment_entry{
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 200px 1fr;
}

.type{
    vertical-align: middle;
    grid-column: 1 / 2;
    border-left: 2px solid;
    border-bottom: 2px solid;
}

.period{
    grid-column: 2 / 3;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
}

.period_selector{
    text-align: center;
    border: none;
}

.checkBox{
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
}