.content-container {
  position: relative;
  overflow: hidden;
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  margin-left: 5px;
  margin-top: 5px;
}

.app-container {
  display: grid;
  grid-template-columns:  auto 1fr ;
  grid-template-rows:  1fr 1fr ;
  gap: 0px 0px;
  min-height: 100vh;
  width: 100vw;
  
}