/* General styling for the login container */
.loginContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 400px;
  border-width: 2px;
    border-color: #4a90e2;
  z-index: 10000; /* Ensure it's above other elements */
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  top : 20%;
    left : 40%;

    border-radius: 10px;
}

/* Style for the login header */
.loginContainer h1 {
  color: #333;
  margin-bottom: 20px;
}

/* Style for the form */
.loginContainer form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

/* Style for labels */
.loginContainer label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #666;
}

/* Style for input fields */
.loginContainer input[type="text"], input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

/* Change focus border color */
.loginContainer  input[type="text"]:focus, input[type="password"]:focus {
  border-color: #4a90e2;
  outline: none;
}

/* Style for the submit button */
.loginContainer  button {
  background-color: #4a90e2;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Hover effect for the button */
.loginContainer button:hover {

  background-color: #357ab8;
}